{% extends "layout.html" %}
{% block body %}
 
<div class="block1">
<!-- <h1>{{name}}!</h1> -->
<h1>Coding Challenge Demo</h1>

<script>
function check()
{
  document.getElementById('f1').innerHTML = document.myform.userid.value;
}
</script>

<!-- <form name="myform" action= "{{ url_for('handle_data') }}" method = "post"> -->
<form name="myform" action= "/" method = "post">
  <table>
    <tr>
      <td>Input User ID:</td>
      <td><input type="text" name="userid"></td>
    </tr>
    <tr>
      <td>Number of Similar Users to show:</td>
      <td><input type="text" name="number_show"></td>
    </tr>

  <tr>
<!--    <input type="submit" value="Submit" onclick='check(); return false'> -->
  <td><br><input type="submit" value="Submit"></td>
  </tr>
</table>
</form>
<p>Enter userid and click on Submit to find similar users.</p>
<p id='f1'></p>
<p>Below are the top {{ number_show }} similar users for User {{ userid }} :</p> <br>
<ul>
{% for item in result %}
<li>{{item}}</li>
{% endfor %}
</ul>
{% endblock %}
