{% extends "layout.html" %}
{% block body %}
 
<div class="block1">
<!-- <h1>{{name}}!</h1> -->
<h1>Coding Challenge Demo</h1>

<script>
function check()
{
  document.getElementById('f1').innerHTML = document.myform.userid.value;
}
</script>

<form name="myform">
  Input User ID:
  <input type="text" name="userid">
  <br>
  <br>
  <p><input type="submit" value="Submit" onclick='check(); return false'></p>
</form>
<p>Enter userid and click on Submit to find similar users.</p>
<p id='f1'></p>

</div>
{% endblock %}
